@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    border: #e5e1e1;
    border-radius: 0.5%;
    box-sizing: border-box;
    background-color: rgb(244, 242, 245);
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #e5e1e1;
     background: plum;
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input{
    width: 320px;
    border: rgb(244, 242, 242);
    border-radius: 0.5%;
    padding: 24px;
    margin: 10px;
    background:     rgb(232, 229, 229);
    border-color: aliceblue;
   

    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #1f1d1d;
}

input::placeholder{
    color: #101010;
    border-radius: 0.2;
    border-color: #ffffff;
    box-shadow: #ffffff;
    border :rgb(181, 170, 172);
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background:     rgb(232, 229, 229);
    color: #181717;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(193, 176, 176, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: rgb(222, 188, 194);
}

.operator{
    color: #10120e;
}